
.navBar{
  height: 50px !important;
  width: auto;
  background-color: rgb(97, 2, 50);
}
.homeFont
  {
      font-size: 21px;
      color: white;
      padding: inherit;
      
  }
  
  
.Homeicon{
  color: white;margin-left: 20px;margin-top: 11px;
 
}


  
.title.style {
  margin-left: 576px;font-size: 28px;color: white;font-style: italic;
}

