 <!-- <div *ngIf="Authen === false; then Login; else Menu"> 

</div>
<ng-template #Login>

  <app-user-login></app-user-login>

</ng-template>
<ng-template #Menu>  -->
  <!-- <div class="row; navBar ">
    <div  class="col-md-12" >
      <div *ngIf="Authen === true; then Show"> 
      </div>
      <ng-template #Show>
        <i class="material-icons" style="color: white;margin-left: 20px;margin-top: 11px;cursor:pointer;"(click)="home()">home</i>
      </ng-template>
      
        <mat-label style="margin-left: 576px;font-size: 28px;color: white;font-style: italic;">Standard Trading </mat-label>
     
      
       
    </div>
    
  </div> -->
<!-- </ng-template> -->
<router-outlet></router-outlet>
