
<app-sidebar></app-sidebar> 
<div class="row pt-5"> 
<div class="col-md-4">
  <mat-card class="cartSales">
   <div id="Sales"></div>
  </mat-card>
</div>

<div class="col-md-4">
  <mat-card style="margin-left: 95;" class="cartPurchase">
  <div id="Purchase"></div>
 </mat-card>
</div>

<div class="col-md-4">
  <mat-card style="margin-left: -46px;" class="cartStock">
  <div id="Stock"></div>
 </mat-card>
</div>
</div>

<div class="row pt-3">
  <div class="col-md-2">
    <mat-card  class="StockLevel">
    <div id="StockLevel"></div>
   </mat-card>
  </div>

  <div class="col-md-2">
    <mat-card  class="Rec">
    <div id="Receivable"></div>
   <div style="display: flex;justify-content: center; width: 120px;"><p style="position: absolute;margin-left: 74px;margin-top: -80px;">{{ReceivableAmount}}</p></div> 
   </mat-card>
  </div>

  <div class="col-md-2">
    <mat-card  class="Pay">
    <div id="StockLevel"></div>
   </mat-card>
  </div>

  <div class="col-md-2">
    <mat-card  class="BRV">
    <div id="StockLevel"></div>
   </mat-card>
  </div>

  <div class="col-md-2">
    <mat-card  class="CRV">
    <div id="StockLevel"></div>
   </mat-card>
  </div>
</div>

